body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
}

* {
    box-sizing: border-box;
}

ol, ul {
    margin: 0;
    padding: 0;
}

a {}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #dddddd;
}

/* header设置 */

/* nav设置 */

header {}

.headContainer {
    display: flex;
    height: 110px;
    /* background: white; */
    padding-bottom: 150px;
}

.logo {
    margin: 5px 20px 0 100px;
}

.logo>img {
    height: 100px;
}

.navContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 50px 5px 0;
}

.searchBox {
    display: flex;
    justify-content: flex-end;
    margin: 30px 100px 0 0;
}

.navContainer {
    margin-left: 50px;
}

.navContainer>nav {
    flex-grow: 1;
    display: flex;
}

.navContainer nav li {
    flex-grow: 1;
    padding: 5px;
}

.siteNav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: flex-end;
}

.siteNav>li {
    list-style: none;
}

/* swiper设置 */

.swiper-container {
    width: 600px;
}

.swiper-container img {
    width: 600px;
}

/* main设置 */

main {
    flex-grow: 1;
    width: 70vw;
    margin: 0 auto;
    /* background: #abcdef; */
}

.mainWrapper {
    display: flex;
}

.leftPart {
    width: 200px;
    flex-shrink: 1
}

.rightPart {
    display: flex;
    
    
}

.rightPart>div {
    flex: 50%;
    width:300px;
}

footer {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    /* background: #abcdef; */
    padding-bottom: 100px;
    flex-direction: column;
}

.footTop {
    display: flex;
    flex-flow: flex-start;
    padding-top: 20px;
}

.touchUs {
    flex-grow: 1
}

.contacts {
    padding-top: 5px;
}

.contacts:nth-child(4) {
    padding-bottom: 10px;
}

.profile {
    flex-grow: 1;
}

.profile>.logo {
    margin: 0;
}